header {
    margin: 0px;
    font-family: cursive;
}

header div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 173, 173);
    color: rgb(255, 255, 255);
}

header div div {
    flex-direction: row;
}

header div div .name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding-right: 3px;
    text-transform: uppercase;
}

header div div .description {
    color: rgba(255, 255, 255, 0.966);
    padding-right: 20px;
}

body {
    text-align: center;
    margin: auto;

}


body div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div div {
    flex-direction: row;
}

body div div button {
    padding: 8px;
    margin-right: 6px;
    border: none;
    border-radius: 10px;
    background: rgb(0, 173, 173);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

.next,
.prev {
    margin: 6px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.text {
    margin-top: 2rem;

}

.text p,
.text li {
    width: 40rem;
    margin: 0px;
    align-items: flex-start;
    text-align: justify;
}

.text p {
    margin-bottom: 10px;
}

.text .line-pass {
    align-items: flex-start;
    margin-top: 4px;
    border: 1px 1px 1px 1px;
    border-style: dashed;
    border-color: rgba(212, 212, 212, 0.849);
}

.text .line-pass .pass {
    padding: 3px;
    margin: 2px;
    width: auto;
}

#content {
    max-height: 250px;
    overflow: auto;
}